{% extends "base.html" %}
{% set active_page = "home" %}
{% block title %}Mars Scrape{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-xl-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-header"><h5>Latest Mars News - NASA</h5></div>
                <a href="{{ latest['url'] }}"><img src="{{ latest['img'] }}" alt="Latest Image" class="card-img-top"></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ latest['url'] }}" class="text-decoration-none link-light">{{ latest['title'] }}</a></h4>
                    <p class="card-text">{{ latest['paragraph'] }}</p>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card bg-primary text-white h-100">
                <div class="card-header"><h5>Image of the Week - NASA</h5></div>
                <a href="{{ featured['article_url'] }}"><img src="{{ featured['img_url'] }}" alt="Image of the Week" class="card-img-top"></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ featured['article_url'] }}" class="text-decoration-none link-light">{{ featured['name'] }}</a></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-xl-3">
        <div class="col">
            <div class="card bg-primary text-white">
                <div class="card-header"><h5>Mars Facts - NASA</h5></div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                    {{ facts_table|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-xl-3">
        <div class="col">
            <div class="card bg-primary text-white">
                <div class="card-header"><h5>Mars Hemispheres - USGS Astropedia</h5></div>
                <div class="card-body p-0 text-center">
                    <div class="card-group">
                        {% for hemisphere in hemispheres %}
                        <div class="card bg-primary text-white">
                            <a href="{{ hemisphere['url'] }}"><img class="card-img-top" src="{{ hemisphere['url'] }}" alt="First Hemisphere"></a>
                            <div class="card-body">
                                <h4 class="card-title"><a href="{{ hemisphere['url'] }}" class="text-decoration-none link-light">{{ hemisphere['name'] }}</a></h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}