body {
    background-color: #f8f5f0;
}

h5 {
    margin-bottom: 0;
}

.link-light:hover {
    color: rgba(var(--bs-info-rgb),var(--bs-bg-opacity));
}

#update-button.link-light:hover {
    color: #ffffff;
}

.card-img-top:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    transition: 0.5s;
    transform: translatey(-10px);
}

#progress-row {
    display: none;
}

@media (min-width: 992px) {
    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

@media (max-width: 991px) {
    #content {
        overflow: hidden;
    }
}

@media (max-width: 575px) {
    .card {
        border: 0;
        border-radius: 0;
    }
}